#Chat {
    .chat {
        border: none;
        background: #e2ffe8;
        font-size: 12px;
        border-radius: 20px;
        color: #000;
        p {
            color: #000;
        }
    }
    .mine {
        .chat {
            background: #e2f7ff;
        }
    }
    .small.text-muted {
        font-size: 10px;
    }
}